@model IEnumerable<VidlyPractice.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
@{
    if (!Model.Any())
    {
        <text>We dont have any customers</text>
        return;
    }
}

<table class="table table-hover table-bordered table-striped" width="100%">

    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Detail", "Customer", new { id = customer.Id }, null)
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                @*<td>@customer.Name</td>*@
            </tr>
        }
    </tbody>

</table>